body {
    margin: 0;
    background-color: black;
    color: white;

}


/* carousel */
main > section:first-of-type ul {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: contain;
    anchor-name: --carousel;

    /* Voorbeeld van sanne */
    &::scroll-button(*) {
        position: fixed;
        position-anchor: --carousel;
        position-visibility: always;
        font-family: "Material Symbols Outlined";

        appearance: none;
        border: none;
        background: rgb(255 255 255 / .5);
        width: 3em;
        height: 3em;
    }

    &::scroll-button(right) {
        position-area: center;
        justify-self: end;
        content: '→' / 'Next';
    }

    &::scroll-button(left) {
        position-area: center;
        justify-self: start;
        content: '←' / 'Previous';
    }

    
}


/* elke slide 100% breedte */
main > section:first-of-type li {
    flex: 0 0 100%;
    scroll-snap-align: center;
}

/* figure + afbeelding */
main > section:first-of-type figure {
    margin: 0;
    position: relative;
}

main > section:first-of-type img {
    width: 100%;
    display: block;
    object-fit: cover;
}

/* de figcaption */
main > section:first-of-type figcaption {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: .5em 1em;
    font-size: .9em;
    background-color: white;
    opacity: .8;
    color: black;
    text-align: center;
}


/* titel en prijs onder de foto */
main>section:nth-of-type(2) {
    padding: 0.75em 0.75em 1em;
    background-color: black;
}

main>section:nth-of-type(2) h2 {
    margin: 0.3em 0 0.2em;
    font-size: 1.5em;
    text-transform: uppercase;
}